* {
  margin: 0;
  padding: 0; }

html {
  min-height: 100%;
  position: relative; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14pt !important;
  line-height: 34px; }

/* Top Navbar */
#logo {
  width: 250px;
  height: 90px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 50px;
  text-decoration: none;
  text-align: left; }

nav a {
  text-decoration: none;
  color: #3d3838;
  font-size: 16pt; }

/* Image */
.wrapper {
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
  margin-bottom: 8rem !important; }

.section {
  position: relative;
  height: 90vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-shadow: 0 0 5px #000; }

#getStarted {
  position: absolute;
  top: 30%;
  left: 45%;
  background-color: #80A602;
  border-color: #4d6401;
  border-width: 2px;
  color: #ffffff;
  font-size: 16pt; }

#getStarted2 {
  position: absolute;
  top: 60%;
  left: 45%;
  background-color: #80A602;
  border-color: #4d6401;
  border-width: 2px;
  color: #ffffff;
  font-size: 16pt; }

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1; }

.static {
  background: rgba(255, 0, 0, 0.9); }

.bg1::after {
  opacity: 0.5;
  background-image: url("../images/casserole-dish-2776735_1920.jpg"); }

.bg2::after {
  opacity: 0.5;
  background-image: url("../images/ryan-concepcion-1398520-unsplash.jpg"); }

/*Jumbotron*/
.dietaryReq {
  padding-bottom: 8rem !important; }

#choices {
  background-image: linear-gradient(120deg, #6497b1 30%, #b3cde0 50%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%; }

#meals {
  background: linear-gradient(to bottom right, rgba(242, 200, 121, 0.2), rgba(242, 140, 2, 0.6)); }

#intolerance {
  background: linear-gradient(to bottom right, rgba(156, 166, 96, 0.2), rgba(128, 166, 2, 0.6)); }

#diet {
  background: linear-gradient(to bottom right, rgba(142, 93, 87, 0.2), rgba(142, 0, 2, 0.6)); }

#cuisine {
  background: linear-gradient(to bottom right, rgba(121, 81, 142, 0.2), rgba(102, 29, 142, 0.6)); }

/* Search Button */
#search {
  background-color: #80A602;
  color: #ffffff; }

.results {
  padding-bottom: 8rem !important; }

.card-header {
  background: linear-gradient(to bottom right, rgba(102, 29, 142, 0.1), rgba(121, 81, 142, 0.4)); }

.eat {
  background-image: linear-gradient(120deg, #6497b1 30%, #b3cde0 50%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%; }

.btn-link {
  color: #404346 !important; }

#anotherSearch {
  background-color: #80A602;
  color: #ffffff; }

p a {
  text-decoration: none;
  color: #3d3838;
  font-size: 16pt;
  font-size: 14pt;
  text-decoration: underline; }

.tags {
  background-color: #F2C879;
  font-size: 16pt; }

footer {
  background-color: #ebebeb;
  color: #3d3838;
  padding: 30px 0;
  bottom: 0;
  width: 100%;
  position: absolute; }

/* About Page */
.about {
  margin-bottom: 12rem !important; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

.letter-e {
  font-size: 50px;
  font-weight: 500;
  color: #000000; }

.subtitle {
  text-align: center;
  padding: 25px; }

.container {
  text-align: left;
  padding: 18px;
  margin: 12px;
  color: #383e42;
  font-family: "Roboto", sans-serif; }

.blog {
  margin-bottom: 12rem !important; }

.submit {
  padding-bottom: 12rem !important; }

.modal-header {
  background: linear-gradient(to bottom right, rgba(100, 151, 177, 0.9), rgba(179, 205, 224, 0.6)); }

.closeModal {
  background-color: #F28C02 !important;
  color: #f9f9f9 !important; }

@media screen and (min-width: 1025px) and (max-width: 1280px) {
#getStarted {
  position: absolute;
  top: 20%;
  left: 44%;
  background-color: #80A602;
  border-color: #4d6401;
  border-width: 2px;
  color: #ffffff;
  font-size: 16pt; }
}

@media screen and (min-width: 981px) and (max-width: 1024px){
  #getStarted {
    position: absolute;
    top: 18%;
    left: 40%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
}

@media screen and (min-width: 769px) and (max-width: 980px) {
  #getStarted {
    position: absolute;
    top: 25%;
    left: 40%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  #getStarted2 {
    position: absolute;
    top: 60%;
    left: 40%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  iframe {
    width: 100%; } }

@media screen and (min-width: 641px) and (max-width: 768px) {
  #getStarted {
    position: absolute;
    top: 30%;
    left: 40%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  #getStarted2 {
    position: absolute;
    top: 60%;
    left: 37%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  .submit {
    padding-bottom: 15rem !important; }
  iframe {
    width: 100%; } }

@media screen and (min-width: 481px) and (max-width: 640px) {
  #getStarted {
    position: absolute;
    top: 25%;
    left: 33%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  #getStarted2 {
    position: absolute;
    top: 65%;
    left: 35%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  .submit {
    padding-bottom: 15rem !important; }
  iframe {
    width: 100%; } }

@media screen and (min-width: 321px) and (max-width: 480px) {
  #getStarted {
    position: absolute;
    top: 18%;
    left: 28%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  #getStarted2 {
    position: absolute;
    top: 65%;
    left: 25%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  .dietaryReq {
    padding-bottom: 12rem !important; }
  .results {
    padding-bottom: 12rem !important; }
  .blog {
    padding-bottom: 15rem !important; }
  #blogImage {
    width: 100%; }
  .submit {
    padding-bottom: 18rem !important; }
  iframe {
    width: 100%; } }

@media screen and (max-width: 320px) {
  #getStarted {
    position: absolute;
    top: 18%;
    left: 23%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  #getStarted2 {
    position: absolute;
    top: 65%;
    left: 25%;
    background-color: #80A602;
    border-color: #4d6401;
    border-width: 2px;
    color: #ffffff;
    font-size: 16pt; }
  .dietaryReq {
    padding-bottom: 15rem !important; }
  .results {
    padding-bottom: 15rem !important; }
  .blog {
    padding-bottom: 15rem !important; }
  #blogImage {
    width: 100%; }
  .submit {
    padding-bottom: 18rem !important; }
  iframe {
    width: 100%; } }
