body  {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 34px;
  height: 2000px;
  color: #f3f3f3;
}

* {
  box-sizing: border-box;
}

/* Image */

.main {
  margin-top: 0px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-size:10vw;
}

/* Top Navbar */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  background: #f3f3f3;
}

#logo {
  float: left;
  width: 250px;
  height: 90px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  background: #f3f3f3;
}

nav {
  float: right;
  margin-top: 35px;
  margin-right: 25px;
  top: 0;
}

nav a {
  display: inline-block;
  padding-left: 25px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
  margin-top: 0px;
}

nav a:first-child {
  border-left: 0 none;
  margin-top: 0px;
}

/* Search Button */

.searchBtn {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Media Query */

@media only screen and (max-width: 640px) {
    #masthead {
    position: static;
  }

    #logo {
    width: 100%;
    margin-left: 0px;
  }
  
    nav a {
	margin-right: 70px;
  }

}

@media only screen and (max-width: 768px) {
    #logo {
    margin-left: 0px;
  }

    nav {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 980px) {  
    #logo {
    margin-left: 0px;
  }
  
    nav {
    margin-right: 30px;
  }
  
}